.projects {
    padding: 2rem 2rem;
    background: #202122;
    color: #f1f5f9;
    text-align: center;
  }
  
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #FF499E;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }
  
  /* Project Card */
  .project-card {
    background: #212020;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    display: flex;
    flex-direction: column;
    align-items: center; /* center everything horizontally */
    text-align: center;  /* center text inside */
  }
  
  .project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.5);
  }
  
  /* Project Image */
  .project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  /* Project Info */
  .project-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center; /* center items inside */
  }
  
  .project-info h3 {
    font-size: 1.25rem;
    color: #DD7596;
    margin: 0;
  }
  
  .project-info p {
    font-size: 0.95rem;
    color: #f1f5f9;
    margin: 0.5;
    flex-grow: 1;
  }
  
  /* Project button */
  .project-info .btn.primary {
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    background: #DD7596;
    color: #fff;
    font-weight: 600;
    font-size: 0.95rem;
    transition: all 0.3s ease;
  }

  .projects-more {
    margin-top: 3rem;
    display: inline-block;
    padding: 0.75rem 2.5rem;
    border-radius: 30px;
    font-weight: 600;
  }
  
  .project-info .btn.primary:hover {
    background: #CF1259;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(223,18,89,0.4);
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .projects {
      padding: 4rem 1rem;
    }
  }